<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Masterly Writers | Best Essay Writing Services 24/7</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }} ">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}  ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }} ">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
        
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }} ">
      
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}  ">

        <!-- fontawesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">

        <!-- MPYA -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        

        <!-- custom styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page_css/base.css') }} ">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile_css/style.css') }} ">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }} ">

        <!------ Include the above in your HEAD tag ---------->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

        <style type="text/css">
            
        </style>
        
    </head>
    <body>

        <div id="loader"></div>


        <div style="display:none;" id="myDiv" class="animate-bottom">
          
            <div class="site-wrap">

                <div class="site-mobile-menu">
                    <div class="site-mobile-menu-header">
                        <div class="site-mobile-menu-close mt-3">
                            <span class="icon-close2 js-menu-toggle"></span>
                        </div>
                    </div>
                    <div class="site-mobile-menu-body"></div>
                </div> <!-- .site-mobile-menu -->
              
          
                <div class="site-navbar-wrap" >
                  
                    <div class="container" >
                        <div class="flex-container">
                            <div class="contacts">
                                <span class="contacts_mail">
                                    <i class="far fa-envelope"></i> &Tab; &Tab; support@masterlywriters.com
                                </span>
                              
                            </div>
                            <div class="contacts_right">
                                {% if current_user.is_authenticated %}
                                    <a href="{{ url_for('users.profile') }}">
                                        <button class="manage_orders_btn">
                                            Manage Orders
                                        </button>
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('users.session_new') }}">
                                        <button class="manage_orders_btn">
                                            Login / Register
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="style1">

                        <div class="site-navbar" >
                          <div class="py-1">
                            <div class="row align-items-center">

                              <div class="col-2 logo_div">
                                <h2 class="mb-0 site-logo" >
                                    <a href="{{ url_for('home.home') }}">
                                        Masterly<strong class="font-weight-bold">Writers</strong>
                                    </a>
                                </h2>
                              </div>

                              <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                  <div class="container">
                                      <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                                          <a href="#" class="site-menu-toggle js-menu-toggle text-black">
                                              <span class="icon-menu h3"></span>
                                          </a>
                                      </div>

                                      <ul class="site-menu js-clone-nav d-none d-lg-block" >
                                          <li><a href="{{ url_for('home.pricing') }}">Pricing</a></li>
                                          <li class="has-children">
                                              <a href="{{ url_for('home.services') }}">Services</a>
                                              <ul class="dropdown arrow-top">
                                                  <li><a href="{{ url_for('home.services') }}">Writing Services</a></li>
                                                  <li><a href="{{ url_for('home.services') }}">Dissertation & Thesis Services</a></li>
                                                  <li><a href="{{ url_for('home.services') }}">Editing Services</a></li>
                                                  <li><a href="{{ url_for('home.services') }}">Assignments</a></li>
                                                  <li><a href="{{ url_for('home.services') }}">Admission Services</a></li>
                                                  <li><a href="{{ url_for('home.services') }}">Resume Services</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="{{ url_for('home.contact') }}">Contact Us</a></li>
                                          <li><a href="{{ url_for('home.how_it_works') }}">How it Works</a></li>

                                          {% if current_user.is_authenticated %}
                                              <li class="has-children">
                                                  <a href="{{ url_for('users.profile') }}"><i class="fas fa-user-circle" style="font-size: 20px;"></i></a>
                                                  <ul class="dropdown arrow-top" style="font-size: 13px;">
                                                      <li><a href="{{ url_for('users.profile') }}"><i class="far fa-user"></i> View Profile</a></li>
                                                      <li><a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li> 
                                                  </ul>
                                              </li>
                                          {% endif %}

                                          <li><a href="{{ url_for('users.place_order') }}">
                                              <button class="post_button button1"><span class="icon-plus mr-3"></span>
                                              <span>Order Now</span></button>                                    
                                          </a></li>

                                      </ul>
                                  </div>
                              </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
        


    
                {% block content %}
        {% endblock %}

    
            
                <!-- Footer -->
            <footer class="page-footer font-small blue-grey lighten-5">

              <div style="background: #ddd;">
                <div class="container">

                  <!-- Grid row-->
                  <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                      <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                      <!-- Facebook -->
                      <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                      </a>
                      <!-- Twitter -->
                      <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                      </a>
                      <!-- Google +-->
                      <a class="gplus-ic">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                      </a>
                      <!--Linkedin -->
                      <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                      </a>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <!-- Grid row-->

                </div>
              </div>

              <!-- Footer Links -->
              <div class="container text-center text-md-left mt-5" >

                <!-- Grid row -->
                <div class="row mt-3 dark-grey-text" >

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mb-4" style="box-shadow: none !important; ">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">About </h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p class="footer_text">MasterlyWriters was founded to offer high-quality and affordable essays to students of all levels including high school, college, university, and post graduate. </p>
                    <p class="footer_text">We only select writers who are truly masters in writing to ensure our clients get the best value.</p>

                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                      <!-- Links -->
                      <h6 class="text-uppercase font-weight-bold">Quick Menu</h6>
                      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p class="footer_text">
                        <a class="dark-grey-text" href="{{ url_for('home.pricing') }}">Pricing</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">FAQ</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">How it works</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">Contact Us</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">Testimonials</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">Privacy policy</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">Terms of use</a>
                      </p>
                      <p class="footer_text">
                        <a class="dark-grey-text" href="#!">For writers</a>
                      </p>


                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                      <!-- Links -->
                      <h6 class="text-uppercase font-weight-bold">Categories</h6>
                      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">Custom Writing</a>
                      </p>
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">Editing</a>
                      </p>
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">Proofreading</a>
                      </p>

                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Payment Methods</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">Mastercard</a>
                      </p>
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">Payoneer</a>
                      </p>
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">PayPal</a>
                      </p>
                      <p class="footer_text">
                          <a class="dark-grey-text" href="#!">Visa</a>
                      </p>

                  </div>
                  <!-- Grid column -->

                </div>
                <!-- Grid row -->

              </div>
              <!-- Footer Links -->

              <!-- Copyright -->
              <div class="footer-copyright text-center text-black-50 py-3" style="background: green; color: #fff !important;">© 2020 Copyright:
                <a class="dark-grey-text" href="https://masterlywriters.com/" style="color: #fff !important;"> MasterlyWriters</a>
              </div>
              <!-- Copyright -->

            </footer>
<!-- Footer -->
          </div>


        </div>


  
        

        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js') }} "></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }} "></script>
        <script src="{{ url_for('static', filename='js/aos.js') }} "></script>

        
        <script src="{{ url_for('static', filename='js/mediaelement-and-player.min.js') }} "></script>

        <script src="{{ url_for('static', filename='js/index_main.js') }} "></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        
        

    </body>


</html>