<!DOCTYPE html>
<html>
<head>
    <title>Masterly Writers | Payment Successful</title>
</head>
    <body>
        <div class="jumbotron text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
            <hr>
            <p>
                Having trouble? <a href="{{ url_for('home.contact') }}">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="{{ url_for('users.profile') }}" role="button">Continue to your dashboard</a>
            </p>
        </div>
    </body>
</html>


